#!/bin/bash
# {{ ansible_managed }}

## Set up logging

# create the log file
sudo touch {{ ansible_pull_logfile | quote }}
sudo chown root:adm {{ ansible_pull_logfile | quote }}
sudo chmod 640 {{ ansible_pull_logfile | quote }}

# exec with redirected output
exec &> >(sudo tee -a {{ ansible_pull_logfile | quote }} >/dev/null)


## Set up initial environment

# define variables
export ANSIBLE_CONFIG={{ ansible_pull_cfg_file | quote }}
export ANSIBLE_VAULT_PASSWORD_FILE={{ ansible_pull_vault_password_file | quote }}
{%if ansible_pull_inventory_file %}export ANSIBLE_INVENTORY={{ ansible_pull_inventory_file | quote }}{% endif %}


## Run ansible-pull

# exec ansible-pull with only the setup playbook
{{ ansible_pull_venv_dir | quote }}/bin/ansible-pull \
  --accept-host-key \
  --directory {{ ansible_pull_site | quote }} \
  --full \
  --url {{ ansible_pull_repo | quote }} \
  {%if ansible_pull_branch is defined %}--checkout {{ ansible_pull_branch | quote }}{% endif %} \
  --private-key {{ ansible_pull_ssh_key_file | quote }} \
  --extra-vars @{{ ansible_pull_wrapper_vars_file | quote }} \
  {{ ansible_pull_setup_playbook | quote }} \
|| exit $?


## Run ansible-playbook-local

# activate the environment
source {{ ansible_pull_activate_script | quote }}

# exec ansible-playbook-local with a wrapper playbook
exec ansible-playbook-local \
  --extra-vars @{{ ansible_pull_wrapper_vars_file | quote }} \
  {{ ansible_pull_wrapper_playbook | quote }}
